<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div id="mondai-list" class="container-fluid">
      <h1><a href="/">問題集</a></h1>
      <h1>{{myList.name}}</h1>
      <p>作成者:{{myList.editor}}</p>
      <div class="form-inline mb-2">
        <label>サイト</label>
        <select v-model='siteFilter' class="form-control">
          <option value="all">すべて</option>
          <option value="latethink">ラテシン</option>
          <option value="cindy">Cindy</option>
          <option value="R">R鯖</option>
        </select>
        <label>ジャンル</label>
        <select v-model='genreFilter' class="form-control">
          <option value="all">すべて</option>
          <option value="umigame">ウミガメ</option>
          <option value="tobira">20の扉</option>
          <option value="kameo">亀夫君問題</option>
          <option value="other">その他</option>
        </select>
        <button class="btn btn-danger" v-on:click='clearFilter()'>クリア</button>
      </div>
      <ul class="list-group" v-for="item in filter()">
        <a target='_blank' v-bind:href='url(item.site,item.id)' v-bind:title='item.description' class="list-group-item list-group-item-action">
          <small class="text-secondary">{{item.author}}</small>
          <span>{{ item.title }}</span>
          <span class="badge badge-primary">{{site[item.site].name}}</span>
          <span class="badge badge-info">{{genre[item.genre]}}</span>
        </a>
      </ul>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/mondai_list.js"></script>
  </body>
</html>
